<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url "create_receipt" %}">create receipt</a>
            </li>
            <li>
              <a href="{% url "account_list" %}">account list</a>
            </li>
            <li>
              <a href="{% url "category_list" %}">category list</a>
            </li>
            <li>
              <a href="{% url "create_category" %}">create category</a>
            </li>
            <li>
              <a href="{% url "create_account" %}">create account</a>
            </li>
            <li>
              <a href="{% url "home" %}">home</a>
            </li>
            <li>
              <a href="{% url "logout" %}">Logout</a>
            </li>
          {% else %}
            <li>
              <a href="{% url "signup" %}">Sign up</a>
            </li>
            <li>
              <a href="{% url "login" %}">Login</a>
            </li>
            <li>
              <a href="{% url "logout" %}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {%block content%}{%endblock content%}
  </main>
</body>
</html>
