{% extends 'base.html'%}
{%block content%}
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
        <tbody>
          {% for account in account_items.all%}
          <tr>
            <td>{{account.name}}</td>
            <td>{{account.number}}</td>
            <td>{{account.receipts.count}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </tbody>
      </thead>
    </table>
  </div>
{%endblock content%}
