{% extends 'base.html'%}

{%block content%}
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of receipts</th>
        <tbody>
          {% for category in category_items.all%}
          <tr>
            <td>{{category.name}}</td>
            <td>{{category.receipts.count}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </tbody>
      </thead>
    </table>
  </div>
  {%endblock content%}
